<a href="https://colab.research.google.com/github/othoni-hub/NSI/blob/main/Flottant_Binaire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NSI - Thème : Représentation des données : valeurs et types de base**

## **Écriture d'un flottant en binaire**

<img src="https://drive.google.com/uc?id=12Wo3LubGGT4qOvYFAuLP4CyCuwjKNVuk" width="230" height="150" align = "right"/>




**O.Thöni - UCO**

*document à l'usage exclusif des personnes concernées par la formation Master MEEF - NSI de l'UCO*

In [34]:
def log_base(N,base) :
    '''Cette fonction reçoit deux entiers N  et "base" et retourne l'entier nb_chiffre_base, 
    nombre de chiffres nécessaires à l'écriture de N en base "base", 
    c'est-à-dire la plus grande puissance de "base" que l'on peut faire rentrer dans N'''

    k=0 # k compte les boucles
    p=1 # p vaut base^k

    while(p <= N):
        k = k+1
        p = p*base
    
    nb_chiffre_base=k
    return nb_chiffre_base

In [35]:
nb_chiffres_mantisse = log_base(5.6875,2)
nb_chiffres_mantisse

3

In [40]:
def decompose(N, base) :
    '''Fonction qui reçoit deux entiers, N et base, calcule et affiche la décomposition de N dans la base "base"
    et retourne la liste liste_chiffres_nb_converti des chiffres de N écrit dans la base "base" 
    Elle fait appel à la fonction log_base(N,base)'''

    k = log_base(N,base)-1  # N s'écrit avec k chiffres en base "base", de 0 
                            # donnnant les puissances de "base" de k-1 à 0
    p = base**k

    r=N # reste obtenu successivement en enlevant le bon multiple
        # de chaque puissance de 4, en décroissant
    converti=[] # "converti" est une liste, commençant vide,
                # à laquelle vont venir s'ajouter les chiffres
                # successifs du nombre converti en base 4
            
    print (N, " = ", end ='')
    while r != 0 & k >= -8:
        c = int(r/p)   # calcul du k-eme chiffre (en partant de la droite) en base "base"
        r=r - c*p           # calcul du nouveau reste
        print (" + ",c," x ",base,"^",k, sep='',end ='')
        converti = converti + [c] # on rallonge la liste des chiffres du nombre converti
        p = p / base
        k = k - 1
    print(' ')
    liste_chiffres_nb_converti = converti
    print('Liste des chiffres : ', converti)
    return liste_chiffres_nb_converti

In [41]:
liste_chiffres_nombre_converti = decompose(5.6875,2)
liste_chiffres_nombre_converti

5.6875  =  + 1 x 2^2 + 0 x 2^1 + 1 x 2^0 + 1 x 2^-1 + 0 x 2^-2 + 1 x 2^-3 + 1 x 2^-4
Liste des chiffres :  [1, 0, 1, 1, 0, 1, 1]

[1, 0, 1, 1, 0, 1, 1]

In [42]:
def ecrit_binaire(N) :
    L = decompose(N, 2)
    nb_chiffres_mantisse = log_base(N,2)
    print("En binaire, ",str(N)," s'écrit : (" , end = "")
    for c in L[:nb_chiffres_mantisse] :
        print(c, end ="")
    print('.', end = "")
    for c in L[nb_chiffres_mantisse:] :
        print(c, end ="")
    print(')_2')

In [43]:
ecrit_binaire(5.6875)

5.6875  =  + 1 x 2^2 + 0 x 2^1 + 1 x 2^0 + 1 x 2^-1 + 0 x 2^-2 + 1 x 2^-3 + 1 x 2^-4
Liste des chiffres :  [1, 0, 1, 1, 0, 1, 1]
En binaire,  5.6875  s'écrit : (101.1011)_2

In [44]:
ecrit_binaire(1/3)

0.3333333333333333  =  + 0 x 2^-1 + 1 x 2^-2 + 0 x 2^-3 + 1 x 2^-4 + 0 x 2^-5 + 1 x 2^-6 + 0 x 2^-7 + 1 x 2^-8 + 0 x 2^-9 + 1 x 2^-10 + 0 x 2^-11 + 1 x 2^-12 + 0 x 2^-13 + 1 x 2^-14 + 0 x 2^-15 + 1 x 2^-16 + 0 x 2^-17 + 1 x 2^-18 + 0 x 2^-19 + 1 x 2^-20 + 0 x 2^-21 + 1 x 2^-22 + 0 x 2^-23 + 1 x 2^-24 + 0 x 2^-25 + 1 x 2^-26 + 0 x 2^-27 + 1 x 2^-28 + 0 x 2^-29 + 1 x 2^-30 + 0 x 2^-31 + 1 x 2^-32 + 0 x 2^-33 + 1 x 2^-34 + 0 x 2^-35 + 1 x 2^-36 + 0 x 2^-37 + 1 x 2^-38 + 0 x 2^-39 + 1 x 2^-40 + 0 x 2^-41 + 1 x 2^-42 + 0 x 2^-43 + 1 x 2^-44 + 0 x 2^-45 + 1 x 2^-46 + 0 x 2^-47 + 1 x 2^-48 + 0 x 2^-49 + 1 x 2^-50 + 0 x 2^-51 + 1 x 2^-52 + 0 x 2^-53 + 1 x 2^-54
Liste des chiffres :  [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
En binaire,  0.3333333333333333  s'écrit : (.010101010101010101010101010101010101010101010101010101)_2

In [45]:
ecrit_binaire(1/10)

0.1  =  + 0 x 2^-1 + 0 x 2^-2 + 0 x 2^-3 + 1 x 2^-4 + 1 x 2^-5 + 0 x 2^-6 + 0 x 2^-7 + 1 x 2^-8 + 1 x 2^-9 + 0 x 2^-10 + 0 x 2^-11 + 1 x 2^-12 + 1 x 2^-13 + 0 x 2^-14 + 0 x 2^-15 + 1 x 2^-16 + 1 x 2^-17 + 0 x 2^-18 + 0 x 2^-19 + 1 x 2^-20 + 1 x 2^-21 + 0 x 2^-22 + 0 x 2^-23 + 1 x 2^-24 + 1 x 2^-25 + 0 x 2^-26 + 0 x 2^-27 + 1 x 2^-28 + 1 x 2^-29 + 0 x 2^-30 + 0 x 2^-31 + 1 x 2^-32 + 1 x 2^-33 + 0 x 2^-34 + 0 x 2^-35 + 1 x 2^-36 + 1 x 2^-37 + 0 x 2^-38 + 0 x 2^-39 + 1 x 2^-40 + 1 x 2^-41 + 0 x 2^-42 + 0 x 2^-43 + 1 x 2^-44 + 1 x 2^-45 + 0 x 2^-46 + 0 x 2^-47 + 1 x 2^-48 + 1 x 2^-49 + 0 x 2^-50 + 0 x 2^-51 + 1 x 2^-52 + 1 x 2^-53 + 0 x 2^-54 + 1 x 2^-55
Liste des chiffres :  [0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1]
En binaire,  0.1  s'écrit : (.0001100110011001100110011001100110011001100110011001101)_2