<a href="https://colab.research.google.com/github/othoni-hub/NSI/blob/main/Flottant_Binaire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NSI - Thème : Représentation des données : valeurs et types de base**

## **Écriture d'un flottant en binaire**

<img src="https://drive.google.com/uc?id=12Wo3LubGGT4qOvYFAuLP4CyCuwjKNVuk" width="230" height="150" align = "right"/>




**O.Thöni - UCO**

*document à l'usage exclusif des personnes concernées par la formation Master MEEF - NSI de l'UCO*

In [34]:
def log_base(N,base) :
    '''Cette fonction reçoit deux entiers N  et "base" et retourne l'entier nb_chiffre_base, 
    nombre de chiffres nécessaires à l'écriture de N en base "base", 
    c'est-à-dire la plus grande puissance de "base" que l'on peut faire rentrer dans N'''

    k=0 # k compte les boucles
    p=1 # p vaut base^k

    while(p <= N):
        k = k+1
        p = p*base
    
    nb_chiffre_base=k
    return nb_chiffre_base

In [35]:
nb_chiffres_mantisse = log_base(5.6875,2)
nb_chiffres_mantisse

3

In [36]:
def decompose(N, base) :
    '''Fonction qui reçoit deux entiers, N et base, calcule et affiche la décomposition de N dans la base "base"
    et retourne la liste liste_chiffres_nb_converti des chiffres de N écrit dans la base "base" 
    Elle fait appel à la fonction log_base(N,base)'''

    k = log_base(N,base)-1  # N s'écrit avec k chiffres en base "base", de 0 
                            # donnnant les puissances de "base" de k-1 à 0
    p = base**k

    r=N # reste obtenu successivement en enlevant le bon multiple
        # de chaque puissance de 4, en décroissant
    converti=[] # "converti" est une liste, commençant vide,
                # à laquelle vont venir s'ajouter les chiffres
                # successifs du nombre converti en base 4
            
    print (N, " = ", end ='')
    while r != 0 :
        c = int(r/p)   # calcul du k-eme chiffre (en partant de la droite) en base "base"
        r=r - c*p           # calcul du nouveau reste
        print (" + ",c," x ",base,"^",k, sep='',end ='')
        converti = converti + [c] # on rallonge la liste des chiffres du nombre converti
        p = p / base
        k = k - 1
    print(' ')
    liste_chiffres_nb_converti = converti
    print('Liste des chiffres : ', converti)
    return liste_chiffres_nb_converti

In [37]:
liste_chiffres_nombre_converti = decompose(5.6875,2)
liste_chiffres_nombre_converti

5.6875  =  + 1 x 2^2 + 0 x 2^1 + 1 x 2^0 + 1 x 2^-1 + 0 x 2^-2 + 1 x 2^-3 + 1 x 2^-4
Liste des chiffres :  [1, 0, 1, 1, 0, 1, 1]

[1, 0, 1, 1, 0, 1, 1]

In [38]:
def ecrit_binaire(N) :
    L = decompose(N, 2)
    nb_chiffres_mantisse = log_base(N,2)
    print("En binaire, ",str(N)," s'écrit : (" , end = "")
    for c in L[:nb_chiffres_mantisse] :
        print(c, end ="")
    print('.', end = "")
    for c in L[nb_chiffres_mantisse:] :
        print(c, end ="")
    print(')_2')

In [39]:
ecrit_binaire(5.6875)

5.6875  =  + 1 x 2^2 + 0 x 2^1 + 1 x 2^0 + 1 x 2^-1 + 0 x 2^-2 + 1 x 2^-3 + 1 x 2^-4
Liste des chiffres :  [1, 0, 1, 1, 0, 1, 1]
En binaire,  5.6875  s'écrit : (101.1011)_2